/* selector de etiqueta 
p{color: blue;
    font-family: Arial, sans-serif;
    font-size: 16px;
line-height: 1.5
}

h1 {
    color: darkblue;
    font-family: Arial, sans-serif;
    font-size: 32px;
    margin-bottom: 20px;
    text-align: left;
}
h2 {
    color: darkblue;
    font-family: Arial, sans-serif;
    font-size: 24px;
    margin-bottom: 15px;
    text-align: left;
}

th{
    color: darkblue;
    font-family: Arial, sans-serif;
    font-size: 18px;
    padding: 10px;
    text-align: left;
}
td{
    color: black;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 10px;
    text-align: left;
}
form {
    margin-top: 20px;
}




selector de clase: esto PISA A SELECTOR DE ETIQUETA  

.fondoAmarillo {
    background-color: lightyellow;
    padding: 10px;
    border-radius: 5px;
}
.tamañoLetra{font-size: 25px;
}
.tipoLetra{font-family: Arial, sans-serif, bold;
}

.tdMedicina {background-color: lightblue;
}
.tdSociologia{background-color: lightgreen;
}

.contenedorLogo{width: 15%;
                height: 160px;
}


 los selectores de id se definen con un numeral adelante: 
el selector de ID PISA  al selector de clase y al selector de etiqueta

#masculino{color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
#femenino{color: pink;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
*/
/*------------------------------------------------------------------------------------------------------------------ */
/* universal 
margenes sacar lo que traiga css de base(5px), 
y me pongo con mis propios nuemro de movimientos
esto es siempre asi */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.contenedorTitulo {
    text-align: center;
    margin-bottom: 20px;
}
.contenedorNav {
  display: flex;          /* Alinea los elementos en fila */
  list-style-type: none;  /* Elimina los puntos/viñetas de la lista */
  gap: 20px;              /* Separa los enlaces entre sí (opcional) */
  align-items: center;    /* Centra verticalmente los elementos (opcional) */
  text-align: center;     /* Centra el contenido del nav (opcional) */
  justify-content: center; 
  text-decoration: none;  /* Elimina el subrayado de los enlaces */
  color: rgb(106, 8, 8);         /* Color del texto de los enlaces */
  background-color: rgb(242, 248, 79); /* Color de fondo del nav */
  font-family: Arial, sans-serif; /* Fuente de los enlaces */
  }

.contenedorVideo {
    text-align: center;
    margin-bottom: 20px;
}

.tablaInformacion {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.formularioContacto {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    
}

.contenedorFooter {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #45b8ee;
}